<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bigkuez Portfolio</title>
    <link rel="stylesheet" href="static/styles.css"> <!-- Link to external CSS file -->
</head>
<body>
    <!-- Banner Section -->
    <section id="banner">
        <!-- Logo and Welcome Message -->
        <img src="/static/images/logo-color.png" class="logo">
        <div class="banner-text">
            <h1>Welcome to my portfolio</h1>
            <p>I'm a software engineer, I like building things for the internet</p>
            <!-- Navigation Links -->
            <div class="banner-link">
                <a href="#About"><span></span>About me</a>
                <a href="#Portfolio"><span></span>Projects</a>
                <a href="#Articles"><span></span>Articles</a>
                <a href="#Videos"><span></span>Videos</a>
                <a href="#Contact"><span></span>Contact</a>
            </div>
        </div>
    </section>

    <!-- Side Navigation -->
    <div id="Snav">
        <nav>
            <ul class="nav-links">
                <!-- Navigation Links for Different Sections -->
                <li><a href="#Home">Home</a></li>
                <li><a href="#About">About</a></li>
                <li><a href="#Portfolio">Projects</a></li>
                <li><a href="#Articles">Articles</a></li>
                <li><a href="#Videos">Videos</a></li>
                <li><a href="#Contact">Contact</a></li>
            </ul>
        </nav>
    </div>

    <!-- Mobile Menu Button -->
    <div id="menubt">
        <img src="/static/images/icons8-menu-50.png" id="menu">
    </div>

    <!-- JavaScript for Mobile Menu Toggle -->
    <script>
        var menubt = document.getElementById("menubt")
        var Snav = document.getElementById("Snav")
        var menu = document.getElementById("menu")

        menubt.onclick = function(){
            if (Snav.style.right == "-250px"){
                Snav.style.right = "0";
            }
            else {
                Snav.style.right = "-250px";
            }
        }
    </script>

    <!-- Main Content -->
    <main class="background">
        <!-- About Me Section -->
        <section class="form">
            <!-- Section Title -->
            <h1>About Me</h1>
            <!-- About me  -->
            <p>My name is Akinola Ayodele Maku, popularly called Bigkuez. I'm a passionate and highly motivated software engineer.</p>
            <p>My journey in the world of technology started 4 months ago, and since then, I've been dedicated to pushing the boundaries of what software can achieve, from web applications to mobile apps, and I've always strived for excellence.</p>
            <p>My expertise lies in full-stack development, with a focus on creating user-friendly and scalable applications. I'm a problem solver at heart, and I'm committed to finding innovative solutions to complex challenges.</p>
            <p>When I'm not coding, you can find me exploring the latest advancements in technology, participating in hackathons, or sharing my knowledge through writing and tutorials. I'm excited to be a part of this ever-evolving field and am always ready to take on new challenges.</p>
            <p>Let's connect and discuss how I can contribute to your next project.</p>
        </section>

        <!-- Skills Section -->
        <section>
            <div class="form">
                <!-- Section Title -->
                <h1>Skills</h1>
                <p>My expertise</p>
            </div>
            <div class="container">
                <!-- Skill Boxes with Descriptions -->
                <div class="box">
                    <img src="/static/images/frontend.png" alt="Project 1">
                    <p>Crafting visually stunning and responsive user interfaces to deliver exceptional web experiences.</p>
                </div>
                <div class="box">
                    <img src="/static/images/css.png" alt="Project 2">
                    <p>Leveraging the power of JavaScript to create dynamic and interactive elements that breathe life into websites.</p>
                </div>
                <div class="box">
                    <img src="/static/images/icons8-javascript.png" alt="Project 3">
                    <p>Designing with precision, using CSS to style web elements, ensuring they look and feel just right.</p>
                </div>
                <div class="box">
                    <img src="/static/images/icons8-react-js-30.png" alt="Project 4">
                    <p>Building robust, component-based applications with React, for seamless and maintainable web development.</p>
                </div>
            </div>
        </section>

        <!-- Projects Section -->
        <section>
            <div class="form">
                <!-- Section Title -->
                <h1>Projects</h1>
                <p>Here is a list of my recent projects</p>
            </div>
            <div class="container">
                <!-- Project Boxes with Links and Descriptions -->
                <div class="box">
                    <a href="https://github.com/Bigkuez">BerryCalculatorJS</a>
                    <h3></h3>
                    <p>Language: JavaScript</p>
                </div>
                <div class="box">
                    <a href="https://github.com/Bigkuez">DentistPage</a>
                    <h3></h3>
                    <p>Language: HTML</p>
                </div>
                <div class="box">
                    <a href="https://github.com/Bigkuez">FacebookLoginTYPE</a>
                    <h3></h3>
                    <p>Language: HTML</p>
                </div>
            </div>
            <div class="center-container">
                <!-- Button to View More Projects on GitHub -->
                <div class="blue-button">
                    <a href="https://github.com/Bigkuez">VIEW MORE ON GITHUB</a>
                </div>
            </div>
        </section>

        <!-- Videos Section -->
        <section>
            <div class="form">
                <!-- Section Title -->
                <h1>Videos</h1>
                <p>I will be sharing some exciting videos about my projects</p>
            </div>
            <div class="container">
                <!-- Placeholder for Videos -->
            </div>
            <div class="center-container">
                <!-- Button to View More Videos on YouTube -->
                <div class="blue-button">
                    <a href="https://github.com/Bigkuez">VIEW MORE ON YOUTUBE</a>
                </div>
            </div>
        </section>

        <!-- Articles Section -->
        <section>
            <div class="form">
                <!-- Section Title -->
                <h1>Articles</h1>
                <p>Here are some of my articles</p>
            </div>
            <div class="container">
                <!-- Placeholder for Articles -->
            </div>
            <div class="center-container">
                <!-- Button to View More Articles -->
                <div class="blue-button">
                    <a href="https://github.com/Bigkuez">VIEW MORE</a>
                </div>
            </div>
        </section>

        <!-- Contact Section -->
        <section>
            <div class="form">
                <!-- Section Title -->
                <h1>Contact me</h1>
                <!-- Contact Form -->
                <p>I am currently looking for jobs that will enable me to build more projects and develop my knowledge as a software engineer.</p>
                <form action="/contact" method="POST">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required><br><br>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required><br><br>
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" rows="4" cols="50" required></textarea><br><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </section>
    </main>

    <!-- Footer Section -->
    <footer>
        <div class="footer-content">
            <div class="footer-center">
                <h2>Quick Links</h2>
                <!-- Quick Links to Sections -->
                <ul class="quick-links">
                    <li><a href="#">About me</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Video</a></li>
                    <li><a href="#">Article</a></li>
                </ul>
            </div>

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            <div class="footer-right">
                <h2>Connect with me on social media</h2>
                <!-- Social Media Links -->
                <a href="https://web.facebook.com/BigKuez/" class="fa fa-facebook"></a>
                <a href="https://twitter.com/big_kuez" class="fa fa-twitter"></a>
                <a href="https://www.linkedin.com/in/akinola-ayodele-maku-78a3b1178/" class="fa fa-linkedin"></a>
                <a href="#" class="fa fa-youtube"></a>
                <a href="https://www.instagram.com/bigkuez/" class="fa fa-instagram"></a>
            </div>
        </div>
        <div class="footer-bottom">
            <!-- Copyright Information -->
            <p>&copy; 2023 Designed by <h2>Bigkuez</h2></p>
        </div>
    </footer>
</body>
</html>
