/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}


/* Banner section */
#banner {
    background-image: url('/static/images/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;

    /* Add a linear gradient overlay */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/images/banner.jpg');
    background-size: cover;
    background-position: center;
}

/* Logo */
.logo {
    width: 140px;
    position: absolute;
    top: 4%;
    left: 8%;
}

/* Banner text */
.banner-text {
    text-align: center;
    color: antiquewhite;
    padding-top: 180px;
}

.banner-text h1 {
    font-size: 100px;
}

.banner-text p {
    font-size: 30px;
    font-style: italic;
}

/* Banner links */
.banner-link {
    margin: 70px auto 0;
}

.banner-link a {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}

.banner-link a span {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}

.banner-link a:hover span {
    width: 100%;
}

.banner-link a:hover {
    color: #000;
}

/* Side navigation */
#Snav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #0e0a38;
    z-index: 2;
    transition: 0.5s;
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Menu button */
#menubt {
    width: 50px;
    height: 50px;
    background: #dddcee;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#menubt img {
    width: 20px;
    margin-top: 15px;
}

/* Media query for smaller screens */
@media screen and (max-width: 770px) {
    .banner-text h1 {
        font-size: 44px;
    }

    .banner-link a {
        display: inline-block;
        margin: 20px auto;
    }
}

/* About me section */
.aboutme {
    margin-top: 70px;
    padding: 70px;
    display: flex;
    align-items: center;
    text-align: justify;
}

.aboutme h1 {
    text-align: center;
    font-size: 44px;
    color: #11057a;
    margin-bottom: 20px;
}

/* Projects section */
.projects {
    display: flex;
    flex-direction: row;
    padding: 100px;
}

/* Form styling */
form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f5f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #091264;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #e62a09;
}

/* Form heading and paragraphs */
.form h1 {
    text-align: center;
    font-size: 44px;
    color: #11057a;
    margin-bottom: 20px;
    margin-top: 70px;
}

.form p {
    text-decoration: dotted;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal ;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    color: #cf0a0a;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

/* Footer section */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content h2 {
    font-size: 25px;
}

.quick-links li {
    list-style: none;
    margin-bottom: 5px;
}

.quick-links a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    background-color: #000;
    padding: 10px 0;
    color: #fff;
}

.footer-bottom p {
    font-size: 20px;
    margin: 0;
}
.footer-right {


}

/* Image containers */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.container .box {
    flex: 1;
    border: 0;
    padding: 10px;
    text-align: center;
}

.container .box img {
    max-width: 100%;
    max-height: 100%;
}
.box a{
   font-weight: bold;
   font-size: 40px;
   text-decoration: underline;
   margin-top: 10px;
   padding-top: 10px;
   color: #11b0bb;
}
.box p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-weight: 100;
    color: #cf0a0a;
    text-decoration: solid;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
}

/* Additional banner link copy style */
.banner-linkcopy {
    margin: 0 auto;
    color: #071983;
    background-color: #bb2a11;
}

.banner-linkcopy a {
    width: 100px;
    text-decoration: none;
    display: inline-block;
    margin: 0;
    padding: 10px 0;
    color: #040404;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
    font-size: large;
    font-weight: bold;
}

.banner-linkcopy a span {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #0426e6;
    z-index: -1;
    transition: 0.5s;
}

.banner-linkcopy a:hover span {
    width: 100%;
}

.banner-linkcopy a:hover {
    color: #000;
}
.image img{
float: right;

}
/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #051df3;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-linkedin {
    background: #145979;
    color: white;
  }
  .fa-youtube {
    background: #cf0505;
    color: white;
  }
  .fa-instagram {
    background: #940481;
    color: white;
  }


/* Style for the footer section */
footer {
    background-color: #000; /* Black background color */
    color: #fff; /* Text color */
    padding: 20px 0; /* Padding for spacing */
}

/* Style for the footer content container */
.footer-content {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Wrap content to a new line on smaller screens */
}

/* Style for the "Quick Links" section on the left */
.footer-center {
    text-align: center; /* Center the content horizontally */
}

/* Style for the "Connect with me on social media" section on the right */
.footer-right {
    text-align: right; /* Align text to the right */
}

/* Style for the social media links */
.social-icons {
    list-style: none;
    padding: 0;
}

.social-icons li {
    display: inline; /* Display social icons horizontally */
    margin-right: 10px; /* Spacing between social icons */
}

.social-icons a {
    color: #fff; /* Icon color */
    text-decoration: none;
    font-size: 20px; /* Adjust the icon size as needed */
}

/* Style for Font Awesome icons (adjust the icon classes as needed) */
.fa {
    display: inline-block;
    margin-right: 10px; /* Spacing between icons */
}

/* Media query to adjust styles for smaller screens */
@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column; /* Stack content vertically on smaller screens */
    }
    .footer-center {
        text-align: center; /* Center "Quick Links" on smaller screens */
    }
    .footer-right {
        text-align: center; /* Center "Connect with me on social media" on smaller screens */
        margin-top: 20px; /* Add space between "Quick Links" and social media links */
    }
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1vh; /* Adjust the height as needed */
}

.blue-button {
    background-color: #11057a;
    padding: 10px 20px;
    border-radius: 5px;
}

.blue-button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
